
        
 <%- include("partials/header") %>
    
<link rel="stylesheet" href="app.css">
<section id="showcase">	

<h1> Tita's Campgrounds </h1>
<p> Welcome To My Campgrounds!</p>
<!-- <a href="/campgrounds" class="button">View All The Campgrounds</a> -->
	<a class="btn btn-md" href="/campgrounds" role="button">View Campgrounds</a>
</section>

<section id="rules">
	<p>
	You can add and edit your own campgrounds to the blog. 
	Just ensure you stay within the guidlines.
	</p>
</section>
